<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
      <remove name="WebDAV" />
    </modules>
    <handlers>
      <clear />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\server-dotnet.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs" hostingModel="inprocess" />
  </system.webServer>
</configuration>
